In [4]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [5]:
def prepare_data(data):
    subset = data[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked']]
    subset[['Sex']] = (subset[['Sex']] =='male').astype(int)
    subset[['isFirstClass']] = (subset[['Pclass']] == 1).astype(int)
    subset[['isSecondClass']] = (subset[['Pclass']] == 2).astype(int)
    subset[['isThirdClass']] = (subset[['Pclass']] == 3).astype(int)
    subset = subset.drop(['Pclass'], axis=1)
    subset['Embarked_1'] = (subset[['Embarked']] == 'S').astype(int)
    subset['Embarked_2'] = (subset[['Embarked']] == 'C').astype(int)
    subset['Embarked_3'] = (subset[['Embarked']] == 'Q').astype(int)
    subset.drop(['Embarked'], axis=1)
    return subset

In [6]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
prepared_train_data = prepare_data(train)

D:\Users\s.lozhechnikov\Anaconda3\lib\site-packages\pandas\core\frame.py:2378: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [8]:
prepared_train_data

,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,isFirstClass,isSecondClass,isThirdClass,Embarked_1,Embarked_2,Embarked_3
0,1,22.0,1,0,7.2500,NaN,S,0,0,1,1,0,0
1,0,38.0,1,0,71.2833,C85,C,1,0,0,0,1,0
2,0,26.0,0,0,7.9250,NaN,S,0,0,1,1,0,0
3,0,35.0,1,0,53.1000,C123,S,1,0,0,1,0,0
4,1,35.0,0,0,8.0500,NaN,S,0,0,1,1,0,0
5,1,NaN,0,0,8.4583,NaN,Q,0,0,1,0,0,1
6,1,54.0,0,0,51.8625,E46,S,1,0,0,1,0,0
7,1,2.0,3,1,21.0750,NaN,S,0,0,1,1,0,0
8,0,27.0,0,2,11.1333,NaN,S,0,0,1,1,0,0
9,0,14.0,1,0,30.0708,NaN,C,0,1,0,0,1,0
10,0,4.0,1,1,16.7000,G6,S,0,0,1,1,0,0
11,0,58.0,0,0,26.5500,C103,S,1,0,0,1,0,0
12,1,20.0,0,0,8.0500,NaN,S,0,0,1,1,0,0
13,1,39.0,1,5,31.2750,NaN,S,0,0,1,1,0,0
14,0,14.0,0,0,7.8542,NaN,S,0,0,1,1,0,0
15,0,55.0,0,0,16.0000,NaN,S,0,1,0,1,0,0
16,1,2.0,4,1,29.1250,NaN,Q,0,0,1,0,0,1
17,1,NaN,0,0,13.0000,NaN,S,0,1,0,1,0,0
18,0,31.0,1,0,18.0000,NaN,S,0,0,1,1,0,0
19,0,NaN,0,0,7.2250,NaN,C,0,0,1,0,1,0
20,1,35.0,0,0,26.0000,NaN,S,0,1,0,1,0,0
21,1,34.0,0,0,13.0000,D56,S,0,1,0,1,0,0
22,0,15.0,0,0,8.0292,NaN,Q,0,0,1,0,0,1
23,1,28.0,0,0,35.5000,A6,S,1,0,0,1,0,0
24,0,8.0,3,1,21.0750,NaN,S,0,0,1,1,0,0
25,0,38.0,1,5,31.3875,NaN,S,0,0,1,1,0,0
26,1,NaN,0,0,7.2250,NaN,C,0,0,1,0,1,0
27,1,19.0,3,2,263.0000,C23 C25 C27,S,1,0,0,1,0,0
28,0,NaN,0,0,7.8792,NaN,Q,0,0,1,0,0,1
29,1,NaN,0,0,7.8958,NaN,S,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,1,21.0,1,0,11.5000,NaN,S,0,1,0,1,0,0
862,0,48.0,0,0,25.9292,D17,S,1,0,0,1,0,0
863,0,NaN,8,2,69.5500,NaN,S,0,0,1,1,0,0
864,1,24.0,0,0,13.0000,NaN,S,0,1,0,1,0,0
865,0,42.0,0,0,13.0000,NaN,S,0,1,0,1,0,0
866,0,27.0,1,0,13.8583,NaN,C,0,1,0,0,1,0
867,1,31.0,0,0,50.4958,A24,S,1,0,0,1,0,0
868,1,NaN,0,0,9.5000,NaN,S,0,0,1,1,0,0
869,1,4.0,1,1,11.1333,NaN,S,0,0,1,1,0,0
870,1,26.0,0,0,7.8958,NaN,S,0,0,1,1,0,0
871,0,47.0,1,1,52.5542,D35,S,1,0,0,1,0,0
872,1,33.0,0,0,5.0000,B51 B53 B55,S,1,0,0,1,0,0
873,1,47.0,0,0,9.0000,NaN,S,0,0,1,1,0,0
874,0,28.0,1,0,24.0000,NaN,C,0,1,0,0,1,0
875,0,15.0,0,0,7.2250,NaN,C,0,0,1,0,1,0
876,1,20.0,0,0,9.8458,NaN,S,0,0,1,1,0,0
877,1,19.0,0,0,7.8958,NaN,S,0,0,1,1,0,0
878,1,NaN,0,0,7.8958,NaN,S,0,0,1,1,0,0
879,0,56.0,0,1,83.1583,C50,C,1,0,0,0,1,0
880,0,25.0,0,1,26.0000,NaN,S,0,1,0,1,0,0
881,1,33.0,0,0,7.8958,NaN,S,0,0,1,1,0,0
882,0,22.0,0,0,10.5167,NaN,S,0,0,1,1,0,0
883,1,28.0,0,0,10.5000,NaN,S,0,1,0,1,0,0
884,1,25.0,0,0,7.0500,NaN,S,0,0,1,1,0,0
885,0,39.0,0,5,29.1250,NaN,Q,0,0,1,0,0,1
886,1,27.0,0,0,13.0000,NaN,S,0,1,0,1,0,0
887,0,19.0,0,0,30.0000,B42,S,1,0,0,1,0,0
888,0,NaN,1,2,23.4500,NaN,S,0,0,1,1,0,0
889,1,26.0,0,0,30.0000,C148,C,1,0,0,0,1,0
890,1,32.0,0,0,7.7500,NaN,Q,0,0,1,0,0,1